/* CSS Global */

/* Incluye variables root y CSS de elementos */
:root {
  --color-texto: #292929;
  --color-gradienteTarjeta-inicio: #3a58ef;
  --color-gradienteTarjeta-fin: #4f2dcb;
  --color-fondoTarjeta: white;

  --verdeazul: rgb(0, 136, 255);
  --verdeazul-claro: rgb(7, 0, 216);
  --verde-obscuro: rgb(4, 40, 61);

  --fuente-oficial: "IBM Plex Sans", sans-serif;
  --fuente-delgada: 300;
  --fuente-normal: 500;
  --fuente-gruesa: 700;

  --gradiente-tarjeta: linear-gradient(
    to right,
    rgb(24, 2, 83),
    rgb(5, 48, 116)
  );

  --efecto-resalto: translateY(-2px);
}

* {
  font-family: var(--fuente-oficial);
}

body {
  color: var(--color-texto);
  margin: 0;
  padding: 0;
}
